<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-blue-500">
	
	<div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0">

		<div class="w-full md:w-3/5 lg:pr-10 text-white">

			<h3 class="text-2xl font-semibold mb-4">Stay In The Loop! Subscribe to Our Newsletter.</h3>

			<p>Join our community of enthusiasts and stay informed. Just enter your email below, and we'll make sure you're always in the know!</p>

		</div>



		<div class="self-center flex flex-col w-full md:w-2/5">

			<form class="block lg:flex space-y-6 lg:space-y-0 lg:space-x-4">

				<input class="w-full lg:w-3/5 px-6 py-2 rounded-full" type="text" placeholder="Email...">

				<button class="w-full lg:w-2/5 px-6 py-2 rounded-full bg-white">Subscribe</button>

			</form>
		</div>
		
	</div>

</div>